<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guanwang.s78.Dao.UserMapper">
    <resultMap id="getAdministrators_table" type="guanwang.s78.pojo.Administrators_table">
            <result property="id" column="id" />
            <result property="create_date" column="create_date" />
            <result property="modify_date" column="modify_date" />
            <result property="user_name" column="user_name" />
            <result property="name" column="name" />
            <result property="password" column="password" />
            <result property="gender" column="gender" />
    </resultMap>
    <resultMap id="getPicture_table" type="guanwang.s78.pojo.Picture_table">
            <result property="id" column="id" />
            <result property="picture" column="picture" />
            <result property="create_date" column="create_date" />
            <result property="modify_date" column="modify_date" />
            <result property="type" column="type" />
            <result property="foreign_id" column="foreign_id" />
            <result property="name" column="name" />
    </resultMap>
    <resultMap id="getCurriculum_table" type="guanwang.s78.pojo.Curriculum_table">
        <result property="id" column="id" />
        <result property="create_date" column="create_date" />
        <result property="modify_date" column="modify_date" />
        <result property="curriculum_name" column="curriculum_name" />
        <result property="course_introduction" column="course_introduction" />
    </resultMap>
    <resultMap id="getTeacher_table" type="guanwang.s78.pojo.Teacher_table">
        <result property="id" column="id" />
        <result property="create_date" column="create_date" />
        <result property="modify_date" column="modify_date" />
        <result property="name" column="name" />
        <result property="introduce" column="introduce" />
        <result property="position" column="position" />
        <result property="technical_expertise" column="technical_expertise" />
        <result property="project_experience" column="project_experience" />
    </resultMap>
    <resultMap id="getCollege_News_table" type="guanwang.s78.pojo.College_News_table">
        <result property="id" column="id" />
        <result property="create_date" column="create_date" />
        <result property="modify_date" column="modify_date" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="source" column="source" />
    </resultMap>
    <resultMap id="getEnrollment_and_employment_table" type="guanwang.s78.pojo.Enrollment_and_employment_table">
        <result property="id" column="id" />
        <result property="create_date" column="create_date" />
        <result property="modify_date" column="modify_date" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="source" column="source" />
    </resultMap>
    <resultMap id="getMaster_workstation_table" type="guanwang.s78.pojo.Master_workstation_table">
        <result property="id" column="id" />
        <result property="create_date" column="create_date" />
        <result property="modify_date" column="modify_date" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="source" column="source" />
    </resultMap>
    <resultMap id="getSchool_introduction_table" type="guanwang.s78.pojo.School_introduction_table">
        <result property="id" column="id" />
        <result property="create_date" column="create_date" />
        <result property="modify_date" column="modify_date" />
        <result property="brief_introduction" column="brief_introduction" />
        <result property="teaching_advantages" column="teaching_advantages" />
        <result property="college_honors" column="college_honors" />
        <result property="school_name" column="school_name" />
    </resultMap>
    <resultMap id="getRoute_to_school_table" type="guanwang.s78.pojo.Route_to_school_table">
        <result property="id" column="id" />
        <result property="create_date" column="create_date" />
        <result property="modify_date" column="modify_date" />
        <result property="registration_telephone" column="registration_telephone" />
        <result property="school_address" column="school_address" />
        <result property="school_website" column="school_website" />
        <result property="nearby_bus_stop" column="nearby_bus_stop" />
        <result property="nearby_bus" column="nearby_bus" />
        <result property="school_name" column="school_name" />
        <result property="business_cooperation" column="business_cooperation" />
        <result property="e_mail" column="e_mail" />
    </resultMap>
<!--    判断管理员登录-->
    <select id="selectusername" resultMap="getAdministrators_table">
    select * from administrators_table
    </select>
<!--    查询密码-->
    <select id="selectpassword" resultType="String">
        select `password` from administrators_table where user_name = #{user_name}
    </select>
<!--    修改密码-->
    <update id="updatepassword">
        update administrators_table set password=#{password} where `user_name`=#{name}
    </update>

<!--    查询管理员-->
    <select id="selectAdministrators" resultMap="getAdministrators_table">
        select * from administrators_table where user_name like '%${user_name,jdbcType=VARCHAR}%'
    </select>
<!--    删除管理员-->
    <delete id="deladministrators">
        delete from administrators_table where id=#{id}
    </delete>
<!--    添加管理员-->
    <insert id="insertadministrators">
        insert into administrators_table(create_date,modify_date,user_name,`name`,`password`,gender) value(#{create_date},#{modify_date},#{user_name},#{name},#{password},#{gender})
    </insert>
<!--    展示管理员-->
    <select id="selectAdministrators_s" resultMap="getAdministrators_table">
        select * from administrators_table where id=#{id}
    </select>
<!--    修改管理员-->
    <update id="updateadministrators">
        update administrators_table set `name`=#{name},gender=#{gender},modify_date=#{modify_date} where id=#{id}
    </update>

    <!--    查询学校新闻-->
    <select id="selectCollege_News_table" resultMap="getCollege_News_table">
        select * from college_news_table where title like '%${title,jdbcType=VARCHAR}%'
    </select>
    <!--    删除学校新闻-->
    <delete id="delCollege_News_table">
        delete from college_news_table where id=#{id}
    </delete>
    <!--    添加学校新闻-->
    <insert id="insertCollege_News_table">
        insert into college_news_table(create_date,modify_date,title,source,content) value(#{create_date},#{modify_date},#{title},#{source},#{content})
    </insert>
    <!--    展示学校新闻-->
    <select id="selectCollege_News_table_s" resultMap="getCollege_News_table">
        select * from college_news_table where id=#{id}
    </select>
    <!--    修改学校新闻-->
    <update id="updateCollege_News_table">
        update college_news_table set title=#{title},source=#{source},content=#{content},modify_date=#{modify_date} where id=#{id}
    </update>

    <!--    查询招生就业-->
    <select id="selectEnrollment_and_employment_table" resultMap="getEnrollment_and_employment_table">
        select * from enrollment_and_employment_table where title like '%${title,jdbcType=VARCHAR}%'
    </select>
    <!--    删除招生就业-->
    <delete id="delEnrollment_and_employment_table">
        delete from enrollment_and_employment_table where id=#{id}
    </delete>
    <!--    添加招生就业-->
    <insert id="insertEnrollment_and_employment_table">
        insert into enrollment_and_employment_table(create_date,modify_date,title,source,content) value(#{create_date},#{modify_date},#{title},#{source},#{content})
    </insert>
    <!--    展示招生就业-->
    <select id="selectEnrollment_and_employment_table_s" resultMap="getEnrollment_and_employment_table">
        select * from enrollment_and_employment_table where id=#{id}
    </select>
    <!--    修改招生就业-->
    <update id="updateEnrollment_and_employment_table">
        update enrollment_and_employment_table set title=#{title},source=#{source},content=#{content},modify_date=#{modify_date} where id=#{id}
    </update>

    <!--    查询硕士工作站-->
    <select id="selectMaster_workstation_table" resultMap="getMaster_workstation_table">
        select * from master_workstation_table where title like '%${title,jdbcType=VARCHAR}%'
    </select>
    <!--    删除硕士工作站-->
    <delete id="delMaster_workstation_table">
        delete from master_workstation_table where id=#{id}
    </delete>
    <!--    添加硕士工作站-->
    <insert id="insertMaster_workstation_table">
        insert into master_workstation_table(create_date,modify_date,title,source,content) value(#{create_date},#{modify_date},#{title},#{source},#{content})
    </insert>
    <!--    展示硕士工作站-->
    <select id="selectMaster_workstation_table_s" resultMap="getMaster_workstation_table">
        select * from master_workstation_table where id=#{id}
    </select>
    <!--    修改硕士工作站-->
    <update id="updateMaster_workstation_table">
        update master_workstation_table set title=#{title},source=#{source},content=#{content},modify_date=#{modify_date} where id=#{id}
    </update>

    <!--    查询学校介绍-->
    <select id="selectSchool_introduction_table" resultMap="getSchool_introduction_table">
        select * from school_introduction_table where school_name like '%${school_name,jdbcType=VARCHAR}%'
    </select>
    <!--    删除学校介绍-->
    <delete id="delSchool_introduction_table">
        delete from school_introduction_table where id=#{id}
    </delete>
    <!--    添加学校介绍-->
    <insert id="insertSchool_introduction_table">
        insert into school_introduction_table(create_date,modify_date,school_name,college_honors,teaching_advantages,brief_introduction) value(#{create_date},#{modify_date},#{school_name},#{college_honors},#{teaching_advantages},#{brief_introduction})
    </insert>
    <!--    展示学校介绍-->
    <select id="selectSchool_introduction_table_s" resultMap="getSchool_introduction_table">
        select * from school_introduction_table where id=#{id}
    </select>
    <!--    修改学校介绍-->
    <update id="updateSchool_introduction_table">
        update school_introduction_table set brief_introduction=#{brief_introduction},school_name=#{school_name},college_honors=#{college_honors},teaching_advantages=#{teaching_advantages},modify_date=#{modify_date} where id=#{id}
    </update>

    <!--    查询来校路线-->
    <select id="selectRoute_to_school_table" resultMap="getRoute_to_school_table">
        select * from route_to_school_table where school_name like '%${school_name,jdbcType=VARCHAR}%'
    </select>
    <!--    删除来校路线-->
    <delete id="delRoute_to_school_table">
        delete from route_to_school_table where id=#{id}
    </delete>
    <!--    添加来校路线-->
    <insert id="insertRoute_to_school_table">
        insert into route_to_school_table(business_cooperation,e_mail,school_name,registration_telephone,school_address,school_website,nearby_bus_stop,nearby_bus,modify_date,create_date) value(#{business_cooperation},#{e_mail},#{school_name},#{registration_telephone},#{school_address},#{school_website},#{nearby_bus_stop},#{nearby_bus},#{modify_date},#{create_date})
    </insert>
    <!--    展示来校路线-->
    <select id="selectRoute_to_school_table_s" resultMap="getRoute_to_school_table">
        select * from route_to_school_table where id=#{id}
    </select>
    <!--    修改来校路线-->
    <update id="updateRoute_to_school_table">
        update route_to_school_table set business_cooperation=#{business_cooperation},e_mail=#{e_mail}, school_name=#{school_name},registration_telephone=#{registration_telephone},school_address=#{school_address},school_website=#{school_website},nearby_bus_stop=#{nearby_bus_stop},nearby_bus=#{nearby_bus},modify_date=#{modify_date} where id=#{id}
    </update>

</mapper>